<app-navbar></app-navbar>

<ion-content>
  <app-card-bid-car
  [title]="'Hundai Elantra 2015 2.L DOHC 16V Red'"
  [Kilometres]="'250000km'"
  [Damage]="'Rusty'"
  [Location]="'Las Palmas de G.C'"
  [Date_Bid]="'25/11/2024'"
  [Status]="'For repair'"
  [Price]="'12000'+'$'"
  [Images]="'../../assets/imgs/img_1.webp'"
></app-card-bid-car>
  <app-card-bid-car
  [title]="'Hundai Elantra 2015 2.L DOHC 16V Red'"
  [Kilometres]="'250000km'"
  [Damage]="'Rusty'"
  [Location]="'Las Palmas de G.C'"
  [Date_Bid]="'25/11/2024'"
  [Status]="'For repair'"
  [Price]="'12000'+'$'"
  [Images]="'../../assets/imgs/img_2.webp'"
></app-card-bid-car>
</ion-content>
