<app-header-bids-tab3 [title]='"My Bids"'></app-header-bids-tab3>

<ion-content [fullscreen]="true">
  <div class="container-bids-mybids">
    <div *ngFor="let data of combinedData">
      <app-card-bid-car
        *ngIf="data.bid.Uploaded === true"
        [DataInput]="data"
        [showTrash]="true"
        [showBtn]="false"
      ></app-card-bid-car>
    </div>
  </div>

</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="toAddPage()">
    <img class="img-plus-mybids" src="/assets/plus.svg" alt="Img plus">
  </ion-fab-button>
</ion-fab>

