@import '../../../global.scss';

.container-simple-card{
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  padding: 0;

  .img-simple-card{
    width: 100%;
    height: 50%;
    // background-color: gray;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .info-simple-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title-simple-card{
      font-size: 16px;
      color: $primary-color;
    }
    .subtitle-simple-card{
      font-size: 14px;
      color: $secondary-color;
    }
  }
}
