<ion-card class="card-carrusel-item">
  <ion-card-header class="contenedor-carrusel-header">
    <p class="header-carrusel-time">
      03:28:39
    </p>
  </ion-card-header>
  <div class="info-card-carrusel">
    <ion-card-title class="title-card-carrusel">
      Subasta de coches Mesa y Lopez nº34, 35010
    </ion-card-title>
    <ion-card-subtitle class="subtitle-card-carrusel">
      Subasta de coches Mesa y Lopez nº34, 35010
    </ion-card-subtitle>
  </div>
  <ion-card-content class="contenedor-imgs-card">
    <img class="img-card-carrusel" type="image/webp" src="/assets/imgs/img_1.webp" alt="img car 1">
    <img class="img-card-carrusel" type="image/webp" src="/assets/imgs/img_2.webp" alt="img car 2">
    <img class="img-card-carrusel" type="image/webp" src="/assets/imgs/img_3.webp" alt="img car 3">
  </ion-card-content>
  <ion-button color="$primary_color" fill="outline" shape="round" class="btn_card_carrusel">
    Ver subasta
  </ion-button>
</ion-card>
