<ion-card class="container-card-bid-car">
  <div class="img-container-card-bid-car">
    <img src={{Images}} alt="Img 0">
  </div>
  <ion-card-content class="content-card-bid-car">
    <h4 class="title-card-bid">
      {{title}}
    </h4>
    <h5>
      Kilometres: {{Kilometres}}
    </h5>
    <h5>
      Damage: {{Damage}}
    </h5>
    <h5>
      Location: {{Location}}
    </h5>
    <h5>
      Bid date: {{Date_Bid}}
    </h5>
    <h5>
      Status: {{Status}}
    </h5>
    <div class="bid-info-container">
      <h4>
        Precio: <span>{{Price}}</span>
      </h4>
      <ion-button class="btn-card-bid-car">
        Pujar
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
