// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
  --primary_color: #ED5A0C;
  --secondary_color: #005D6E;
  --dark_gray: #4D4D4D;
  --light_gray: #B7B7B7;
  --dark_primary_color: #703415
}

// Color variables con SCSS
$primary-color: #ED5A0C;
$secondary-color: #005D6E;
$dark-gray: #4D4D4D;
$light-gray: #B7B7B7;
$dark-primary-color: #703415;
